@import url(default.css);

@import url(./variable.css);

@import url(./font.css);

@import url(top-bar.css);

@import url(nav-bar.css);

@import url(footer.css);

@import url(course-box.css);

@import url(paganation.css);

@import url(helpers.css);

@import url(breadcrumb.css);

@import url(sidebarcoursesbox.css);





.course-more-info{
    overflow: hidden;
}


.course-more-info__courses-title{
    position: relative;
}

.course-more-info__courses-title::before{
    content: '';
    position: absolute;
    width: 22px;
    height: 39px;
    background-color: var(--primary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 12px;
    right: -27px;
    top: -5px;
    transform: skewX(-10deg);
}