@import url(default.css);

@import url(./variable.css);

@import url(./font.css);

@import url(top-bar.css);

@import url(nav-bar.css);

@import url(footer.css);

@import url(course-box.css);

@import url(paganation.css);









/* start breadcrumb styles */


.breadcrumb {
    margin-bottom: 2rem;
}

.breadcrumb__content {
    display: flex;
    align-items: center;
    background-color: #f0f2f7;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.breadcrumb__home-content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--white-color);
}

.breadcrumb__homer-icon {
    font-size: 1.8rem;
    color: #909aa7;
}

.breadcrumb__list {
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

.breadcrumb__item{
    list-style: none;
}

.breadcrumb__link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #7f8187;
}

.breadcrumb__link:hover {
    color: #7f8187;
}

.breadcrumb__icon {
    font-size: 1.5rem;
    color: #7f8187;
    margin: 0 0.7rem;
}


/* finish breadcrumb styles */









/* start course info styles */


.course-info{
    margin-bottom: 6rem;
}

.course-info__link{
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: rgba(43, 206, 86, 0.2);
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
}

.course-info__title{
    margin: 2rem 0;
    font-weight: bold;
    font-size: 2.4rem;
    color: #464749;
}

.course-info__text{
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #7b868a;
}

.course-info__social-media-item{
    color: #b1bbbf;
    margin-left: 1.7rem;
    transition: all 400ms ease;
}

.course-info__icon{
    font-size: 2rem;
}

.course-info__video{
    width: 100%;
    border-radius: 1rem;
}


/* finish course info styles */