@import url(default.css);

@import url(./variable.css);

@import url(./font.css);

@import url(top-bar.css);

@import url(nav-bar.css);

@import url(footer.css);

@import url(course-box.css);

@import url(paganation.css);









/* start breadcrumb styles */


.breadcrumb {
    margin-bottom: 2rem;
}

.breadcrumb__content {
    display: flex;
    background-color: #f0f2f7;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

.breadcrumb__home-content-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--white-color);
}

.breadcrumb__homer-icon {
    font-size: 1.8rem;
    color: #909aa7;
}

.breadcrumb__list {
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

.breadcrumb__item{
    list-style: none;
}

.breadcrumb__link {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #7f8187;
}

.breadcrumb__link:hover {
    color: #7f8187;
}

.breadcrumb__icon {
    font-size: 1.5rem;
    color: #7f8187;
    margin: 0 0.7rem;
}


/* finish breadcrumb styles */