@import url(default.css);

@import url(./variable.css);

@import url(./font.css);

@import url(top-bar.css);

@import url(nav-bar.css);

@import url(footer.css);

@import url(course-box.css);




/* start landing style */

/* start head */
.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background_landing.jfif), no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 9rem 0;
    color: var(--white-color);
}

.landing__title {
    font-size: 3.4rem;
    font-weight: bold;
}

.landing__subtitle {
    font-size: 1.8rem;
    margin-top: 0.3rem;
}

.landing__searchbar {
    width: 700px;
    position: relative;
    margin: 3.5rem auto;
}

.landing__searchbar-input {
    width: 100%;
    padding: 2.5rem;
    border: none;
    border-radius: 1rem;
}

.landing__searchbar-btn {
    position: absolute;
    border: none;
    background-color: var(--primary-color);
    left: 0.5rem;
    width: 6rem;
    top: 0.3rem;
    height: 6rem;
    border-radius: 1rem;
}

.landing__searchbar-icon {
    color: var(--white-color);
    font-size: 2.8rem;
}



.landing-status {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.landing-status__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-status__item svg {
    fill: var(--white-color);
}

.landing-status__count {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.landing-status__text {
    font-weight: bold;
}

/* finish head */

/* using course-box module */

/* finish landing style */














/* start latest courses style */

.courses {
    margin: 4rem 0;
}

.courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-header__right {
    display: flex;
    flex-direction: column;
}

.courses-header__text {
    color: #9c9c9c;
    font-size: 1.5rem;
}

.courses-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.courses-header__link:hover {
    color: var(--white-color);
}

.courses-header__icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}



/* finish latest courses style */




















/* start about us styles */


.about-us {
    margin: 6rem 0;
}

.about-us__header {
    display: flex;
    flex-direction: column;
}

.about-us__subtitle {
    color: #9c9c9c;
    font-size: 1.5rem;
}

.about-us__box {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    margin: 2rem 0;
    padding: 2rem 1.5rem;
}

.about-us__icon {
    color: #666;
    font-size: 6.5rem;
}

.about-us__box-left {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.about-us__box-title {
    font-weight: bold;
    font-size: 1.8rem;
}

/* finish about us styles */











/* start helper clases */


.title {
    font-size: 2.3rem;
    font-weight: bold;
    color: #444446;
    line-height: 1.2;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    transform: rotate(8deg);
}

.title::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 60%;
    background-color: rgba(43, 206, 83, 0.2);
    z-index: -1;
}


/* finish helper clases */


















/* start popular and pre-sell courses style */


.popular,
.presell {
    margin: 5rem 0;
}

.popular__slider .course-box,
.presell__slider .course-box {
    margin: 0 1.3rem;
    box-shadow: 0 0 10px rgba(168, 172, 185, 0.3);
}

.popular__slider .course-box:hover,
.presell__slider .course-box:hover {
    transform: none;
}

.popular__slider,
.presell__slider {
    margin: 4rem 0;
    position: relative;
}

/* finish popular and pre-sell courses style */


















/* start articles styles */

.articles {
    margin: 4rem 0;
}

.articles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles-header__right {
    display: flex;
    flex-direction: column;
}

.articles-header__text {
    color: #9c9c9c;
    font-size: 1.5rem;
}

.articles-header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.articles-header__link:hover {
    color: var(--white-color);
}

.articles-header__icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}



.article-card {
    margin: 3rem 0;
    transition: all 400ms ease;
    border-radius: 1rem;
    box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}

.article-card:hover {
    transform: translateY(-0.6rem);
}

.article-card__img {
    border-radius: 1rem 1rem 0 0;
}

.article-card__content {
    padding: 1rem 2rem 3rem 2rem;
}

.article-card__link {
    font-weight: bold;
}

.article-card__text {
    color: #898989;
    font-size: 1.2rem;
    padding: 1rem 0 2.5rem 0;
}

.article-card__btn {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 400ms ease;
}

.article-card__btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* fifnish articles styles */
